{% extends 'base.html.twig' %}

{% block title %}ApiTaskManag{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
<div id="app"></div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}